@import url('https://fonts.googleaps.com/css?family=Open+Sans');
body{
  margin:0;
  padding:0;
  font-family:'Open Sans',sans-serif;
  height:1000px;
  background:linear-gradient(10deg,#9C27B0,#D81B60)
}
.container{
  position:relative;
  width:1000px;
  height:auto;
  margin:150px auto 0;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:440px;
  grid-gap:40px
  
}
.container .card{
  position:relative;
  background:#CCC;
  border-radius:10px;
  transition:.5s;
  overflow:hidden;
}
.container .card:hover{
  transform:translatey(-20px);
  box-shadow:0 20px 20px rgba(0,0,0,.2)
} 
.container .card img{width:334px;height:505px}
.container .card .img_box{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.container .card:hover .img_box{opacity:0.7}
.container .card .img_box img{width:100%}
.container .card .content{
  position:absolute;
  bottom:-100%;
  left:0;
  text-align:center;
  padding:20px;
  padding-top:80px;
  width:100%;
  height:60%;
  box-sizing:border-box;
  transition:.5s
}
.container .card:hover .content{bottom:0}
.container .card:nth-child(1) .content{background:linear-gradient(0deg,#c21833,transparent)} 
.container .card:nth-child(2) .content{background:linear-gradient(0deg,#8012a5,transparent)}
.container .card:nth-child(3) .content{background:linear-gradient(0deg,#3a414c,transparent)}
.container .card .content h2{
   color:#FFF;
   margin:0 0 10px;
   padding:0;
   font-size:20px
  }
.container .card .content span{
  font-size:16px;
  color:#ffeb3d;
}
.container .card .content p{
  font-size:16px;
  color:#FFF;
  margin:0;
  padding:0;
}
.container .card .content ul{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:20px 0 0;
  padding:0;
  list-style:none;
}
.container .card .content ul li a{
  color:#FFF;
  font-size:18px;
  padding:0 10px
}

/*
*		CSS DE SEGUNDA PROPUESTA
===================================*/


* {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 16px;
	line-height: 1.5;
	background: repeating-linear-gradient(45deg,
	            #f8f8f8,
		          #f8f8f8 30px,
		          transparent 30px,
		          transparent 35px
	);
}
a {
	text-decoration: none;
}
.container {
	width: 25em; /* 400px */
	height: 37.5em; /* 600px */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container .front {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 2px 3px 5px #737373;
	overflow: hidden;
}


/*
*		@attr 	Image Styles
===================================*/
.image {
	width: 100%;
	height: 60%;
	text-align: center;
	background: #28BDEE;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.image::after {
	content: "";
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -50%;
	background: rgba(255,255,255,0.3);
	transform: skewX(30deg);
	transition: right 1s;
}
.image .fa {
	padding-top: 10px;
	font-size: 15em;
	color: #fff;
	transition: all 1s;
}
.text__animated {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0%;
	bottom: 10px;
}
.text__animated p {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #333;
}
.text__animated .name {
	font-size: 3em;
}
.text__animated .job {
	margin-top: -15px;
	font-size: 1.5em;
}
.front:hover .image::after {
	right: 130%;
	transition-delay: 0.5s;
}
.front:hover .image .fa {
	transform: scale(1.1);
	color: #2E5EAA;
}

/*
*		@attr 	Legend Styles
===================================*/
.legend {
	width: 100%;
	height: 40%;
	position: relative;
}
.legend::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(-45deg,
	            rgba(255,255,255,0.4),
		          transparent
	);
}
.legend > div {
	padding: 15px;
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,0.85);
	text-align: center;
	position: absolute;
	top: 0;
	left: -100%;
	opacity: 0;
  transition: all .5s;
}
.legend .active {
	left: 0;
	opacity: 1;
	transition-delay: 0.55s;
}
.legend > div:nth-child(1) {background: #F17F29;}
.legend > div:nth-child(2) {background: #9C95DC;}
.legend > div:nth-child(3) {background: #7DE2D1;}
.legend > div:nth-child(4) {background: #EB5E55;}


.legend > div p {
	font-size: 1.2em;
}
.legend > div .fa {
	font-size: 3.5em;
}

/*
*		SHADOW CONTAINER
===================================*/
.container .shadow {
	width: 70px;
	height: auto;
	position: absolute;
	top: 10px;
	right: -65px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	perspective: 600px;
	transform-origin: left center;
	transform: rotateY(90deg);
	transition: all 1s;
	z-index: -1;
}
.shadow a {
	margin-bottom: 2px;
	width: 100%;
	height: 55px;
	line-height: 55px;
	color: #fff;
	background: #d9d9d9;
	text-align: center;
	border-bottom-right-radius: 10px;
	transform: rotateY(90deg);
	transition: all 0.35s;
	transform-origin: left center;
}
.shadow a:hover:nth-child(1) {
	background: #F17F29;
}
.shadow a:hover:nth-child(2) {
	background: #9C95DC;
}
.shadow a:hover:nth-child(3) {
	background: #7DE2D1;
}
.shadow a:hover:nth-child(4) {
	background: #EB5E55;
}
.container:hover .shadow {
	transform: rotateY(0deg);
}
.container:hover .shadow a {
	transform: rotateY(0deg);
}